
        body {
            background-color: lightblue;
            text-align: center;
        }

        hr {
            border: 1px solid blue;
        }
        button {
            color: white;
            background-color:black;

        }
        img {
            width:auto;
            height:100vh;
            object-fit: cover;
        }
