body {
    text-align: center;
    background-color: aquamarine;
    color: chartreuse;
    font-family: 'Arial', sans-serif;
}
button {
    background-color: blue;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
        body {
            background-color: lightblue;
            text-align: center;
        }

        hr {
            border: 1px solid blue;
        }
        button {
            color: white;
            background-color:black;

        }
